<div flex layout="column" ng-controller="DashboardController as dl">

    <md-toolbar layout="row" class="md-whiteframe-z2">
        <md-button class="menu" hide-gt-sm ng-click="dl.toggleList()" aria-label="Show Node List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Kubernetes web terminal</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left"
        layout="column">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="it in dl.nodes">
                    <md-button layout="row" ng-click="dl.selectNode(it)" ng-class="{'selected' : it === dl.selected }">
                        <md-icon md-svg-icon="docker" class="avatar"></md-icon>
                        <div class="md-list-item-text" layout="column" flex-offset="15">
                            <h3>{{it.metadata.name}}</h3>
                            <h4>{{it.status.addresses[0].address}}</h4>
                            <p>{{it.status.nodeInfo.osImage}}</p>
                        </div>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content">

        </md-content>

    </div>
</div>
